<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Modificar Turno</title>
    <link rel="stylesheet" href="../../css/stylesGenerales.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center">Modificar turno</h1>
    <form method="POST" class="container mb-3" id="modificarTurno">
        <div class="mb-3">
            <label for="fechaTurno" class="form-label">Fecha de turno</label>
            <input type="date" class="form-control" id="fechaTurno" aria-describedby="fechaTurno" required>
        </div>
        <div class="mb-3">
            <label for="selectOdontologo" class="form-label">Odontologo</label>
            <select class="form-select" aria-label="Default select example" id="selectOdontologo">
                <option selected>Odontologos</option>
                <!-- Los option se agregaran con la peticion get-->
            </select>
        </div>
        <div class="mb-3">
            <label for="selectPaciente" class="form-label">Paciente</label>
            <select class="form-select" aria-label="Default select example" id="selectPaciente">
                <option selected>Pacientes</option>
                <!-- Los option se agregaran con la peticion get-->
            </select>
        </div>
        <div class="text-center mb-3 mt-3">
            <button type="button" class="btn btn-danger" id="cancelar">Cancelar</button>
            <button type="button" class="btn btn-primary" id="confirmar">Modificar</button>
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    <script src="../../script/modificarTurno.js"></script>
</body>
</html>